<style>
.sample-app-content {
    font-family: Verdana;
}
.sample-app-content li,
.sample-app-content p {
    font-size: 1.2em;
}
.sample-app-content li {
    font-family: Consolas;
}
.sample-app-content input,
.sample-app-content button {
    padding: 5px;
    font-size: 1em;
    outline: none;
}

.sample-app-content button.close{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px;
    color: #000;
    opacity: .2;
}

.sample-app-content button.close:hover{
    opacity:1;
    filter:alpha(opacity=100);
}
</style>

<section class="sample-app-content">

    <p>
        Yeah..! Angular2 is running now !
    </p>

    <p>
        <input [(ng-model)]="name">
        <button (click)="addName(name)">Add</button>
    </p>
    <ul>
        <li *ng-for="#name of names;#i=index">
            {{i}} - {{name}} 
            <button class="close" (click)="removeName(name)">&times;</button>
        </li>
    </ul>
</section>
