<form class="form-horizontal" [ng-form-model] ="form" >
    <div class="form-group" [class.has-error] = "form.dirty && !username.valid">
        <label class="col-sm-4 control-label required" for="user">Invitation Name</label>
        <div class="col-sm-8">
            <input required type="text" class="form-control" ng-control="username" />
            <div *ng-if="username.touched && !username.valid">
                <p class="help-block" *ng-if="username.errors.required">
                    User name is required.
                </p>
            </div>
        </div>
    </div>

    <div class="form-group" [class.has-error] = "form.dirty && !email.valid">
        <label class="col-sm-4 control-label required" for="email">Email</label>
        <div class="col-sm-8">
            <input required type="text" class="form-control" ng-control="email" />
            <div *ng-if="email.touched && !email.valid">
                <p class="help-block" *ng-if="email.errors.required">
                    Email is required.
                </p>
                <p class="help-block" *ng-if="email.errors.email">
                    Email is not valid.
                </p>
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button  [disabled]="!form.valid" class="btn btn-primary">Start Invitation</button>
        </div>
    </div>

</form>



